@import url("https://fonts.googleapis.com/css?family=Comfortaa");
body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  background-image: url(../Assets/HeaderBlockling.png);
  font-family:"Comfortaa", sans-serif;
  color: white;
  padding: 5rem 0;
  text-align: center;
}

.header__title {
  margin: 0;
}

#articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -3rem;
}



.article {
  background: #eee;
  max-width: 500px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
}

